* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

:root {
  --backgroundColor: #ffffff;
  --primary: #3d5af1;
  --secondary: #785ada;
  --blue-text: #3d5af1;
  --accent-clr: #3d5af1;
  --gray: #686868;
  --card-clr: #ffffff;
  --text-bold: #000000;
  --heading-clr: #000000;
  --hover-gray: #efefef;
  --dark-gray: #464646;
  --border-clr: #cccccc;
  --stat-row-border-clr: #bbbaba;
  --card-border-clr: rgba(233, 232, 232, 0.3);
  --icon-clr: #ffffff;
  --search-border-clr: #3d5af1;
  --global-card-head-clr: #ffffff;
  --global-stat-head-clr: #fbfbfb;
  --global-delta-number-clr: #fafafa;
  --table-head-clr: #f1f1f1;
  --conf-head-clr: #3d5af1;
  --active-head-clr: #0f6140;
  --recov-head-clr: #b72256;
  --death-head-clr: #222222;
  --odd-row-clr: #f5f5f5;
  --state-note-clr: #333333;
  --hover-tab-clr: #dddddd;
  --nav-background-clr: #f0f0f0;
}

.darkmode {
  --backgroundColor: #161625;
  --primary: #4c75f2;
  --secondary: rgba(0, 123, 255, 0.4392156862745098);
  --blue-text: #2f89fc;
  --accent-clr: #1e1e30;
  --gray: #9a9ea1;
  --card-clr: #1e1e30;
  --text-bold: #ffffff;
  --heading-clr: #cccccc;
  --hover-gray: rgba(108, 117, 125, 0.12549);
  --dark-gray: #828282;
  --border-clr: #1e1e30;
  --stat-row-border-clr: rgba(108, 117, 125, 0.32);
  --card-border-clr: #1e1e30;
  --icon-clr: #4c75f2;
  --search-border-clr: #1e1e30;
  --global-card-head-clr: #eeeeee;
  --global-stat-head-clr: #cccccc;
  --global-delta-number-clr: #cccccc;
  --table-head-clr: #1e1e30;
  --conf-head-clr: #2f89fc;
  --active-head-clr: #28a745;
  --recov-head-clr: #ff2a72;
  --death-head-clr: #9a9ea1;
  --odd-row-clr: #1e1e30;
  --state-note-clr: #000000;
  --hover-tab-clr: rgba(108, 117, 125, 0.12549);
  --nav-background-clr: #1e1e30;
}

body {
  background: var(--backgroundColor);
}

a {
  text-decoration: none;
  color: var(--text-bold);
}

ul {
  list-style: none;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 99;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #161625;
}

.preloader svg {
  width: 90%;
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

.preload-parent {
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-animation: preload 2.5s infinite linear both;
          animation: preload 2.5s infinite linear both;
}

.preload-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: preload-dot 2s infinite ease-in-out both;
          animation: preload-dot 2s infinite ease-in-out both;
}

.preload-dot:before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: preload-dot-before 2s infinite ease-in-out both;
          animation: preload-dot-before 2s infinite ease-in-out both;
}

.preload-dot:nth-child(1) {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

.preload-dot:nth-child(2) {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.preload-dot:nth-child(3) {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.preload-dot:nth-child(4) {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.preload-dot:nth-child(5) {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}

.preload-dot:nth-child(6) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.preload-dot:nth-child(1):before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

.preload-dot:nth-child(2):before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.preload-dot:nth-child(3):before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.preload-dot:nth-child(4):before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.preload-dot:nth-child(5):before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}

.preload-dot:nth-child(6):before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

@-webkit-keyframes preload {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preload {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes preload-dot {
  80%,
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preload-dot {
  80%,
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes preload-dot-before {
  50% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100%,
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes preload-dot-before {
  50% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100%,
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.container {
  width: 100%;
}

.header {
  text-align: center;
  margin: 40px auto;
}

.header h1,
.header h3 {
  font-size: 25px;
  text-align: left;
  margin-left: 30px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary);
}

@media screen and (max-width: 470px) {
  .header h1,
  .header h3 {
    text-align: center;
    margin-left: 0px;
  }
}

@media screen and (max-width: 620px) {
  .header h1 {
    font-size: 23.5px;
  }
}

@media screen and (max-width: 365px) {
  .header h1 {
    font-size: 22px;
  }
}

.header h3 {
  font-size: 17px;
  letter-spacing: 1px;
  margin-top: 10px;
  color: var(--gray);
  text-transform: none;
  font-weight: 600;
}

@media screen and (max-width: 890px) {
  .header h3 {
    max-width: 400px;
  }
}

@media screen and (max-width: 620px) {
  .header h3 {
    font-size: 15px;
    letter-spacing: 0.5px;
    margin-top: 6px;
  }
}

@media screen and (max-width: 470px) {
  .header h3 {
    padding: 0 8px;
    max-width: 100%;
  }
}

@media screen and (max-width: 365px) {
  .header h3 {
    font-size: 14px;
  }
}

.header nav {
  position: absolute;
  right: 30px;
  top: 30px;
}

.header nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header nav .navbar .navlink {
  margin: 0 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.header nav .navbar .navlink a {
  padding: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header nav .navbar .navlink a:hover {
  background: var(--hover-gray);
}

.header nav .navbar .darkmode-toggler {
  cursor: pointer;
}

.header nav .navbar .active a {
  color: var(--primary);
}

.header nav .hamburger {
  display: none;
  top: 30px;
  right: 30px;
  position: absolute;
  margin: -6px 0;
  cursor: pointer;
}

.header nav .hamburger .line {
  width: 20px;
  height: 2px;
  margin: 5px auto;
  background-color: var(--text-bold);
}

@media screen and (max-width: 470px) {
  .header nav .hamburger {
    top: 20px;
  }
}

@media screen and (max-width: 620px) {
  .header nav {
    width: 100%;
    right: unset;
    left: 0;
    top: 0px;
    z-index: -1;
  }
  .header nav .hamburger {
    display: block;
  }
  .header nav .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 20px 30px;
    min-height: 150px;
    background-color: var(--nav-background-clr);
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  .header nav .navbar .navlink,
  .header nav .navbar .darkmode-toggler {
    margin: 10px 0;
    opacity: 0;
    pointer-events: none;
  }
  .header nav .navbar .navlink a,
  .header nav .navbar .darkmode-toggler a {
    padding: 10px;
  }
  .header nav .navbar .darkmode-toggler {
    margin-left: 20px;
  }
  .header nav .nav-open {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 40px 0 20px;
}

@media screen and (max-width: 620px) {
  .header .search {
    padding: 0 20px;
  }
}

.header .search .search-icon {
  cursor: pointer;
  border-radius: 6px;
  background: var(--accent-clr);
  margin: 0 10px 1px;
  padding: 9px 15px;
}

.header .search .search-icon svg {
  width: 20px;
}

.header .search .search-icon svg path {
  fill: var(--icon-clr);
}

@media screen and (max-width: 620px) {
  .header .search .search-icon {
    display: none;
  }
}

.header .search .search-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.header .search .search-input label {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 7px;
  display: block;
  color: var(--gray);
}

@media screen and (max-width: 620px) {
  .header .search .search-input label {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
  }
}

.header .search .search-input #search-bar {
  padding: 10px 16px;
  min-width: 600px;
  min-height: 40px;
  background: var(--card-clr);
  color: var(--text-bold);
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid var(--border-clr);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header .search .search-input #search-bar:focus {
  border-color: var(--search-border-clr);
  -webkit-box-shadow: 0 0 0 1px var(--search-border-clr);
          box-shadow: 0 0 0 1px var(--search-border-clr);
}

@media screen and (max-width: 720px) {
  .header .search .search-input #search-bar {
    min-width: 500px;
  }
}

@media screen and (max-width: 620px) {
  .header .search .search-input #search-bar {
    width: 100%;
    min-width: unset;
    background: var(--card-clr) url(./search-icon.png) 3% 50% no-repeat;
    background-size: 17px;
    padding-left: 40px;
  }
}

.header .search .search-input .clear-btn {
  display: none;
  position: absolute;
  right: 10px;
  bottom: 6px;
  font-size: 23px;
  color: var(--gray);
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .header .search .search-input {
    width: 100%;
  }
}

.header-centered h1,
.header-centered h3 {
  text-align: center;
  margin-left: 0px;
  max-width: 100%;
}

.last-updated,
#updated-time {
  color: var(--dark-gray);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 17px;
  margin-left: 30%;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

@media screen and (max-width: 720px) {
  .last-updated,
  #updated-time {
    text-align: center;
    margin-left: 0;
  }
}

@media screen and (max-width: 470px) {
  .last-updated,
  #updated-time {
    font-size: 15px;
  }
}

@media screen and (max-width: 365px) {
  .last-updated,
  #updated-time {
    font-size: 14px;
  }
}

#updated-time {
  margin-left: 0;
}

main {
  width: 100%;
}

main .cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 0 10px;
}

main .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--card-clr);
  border: 4px solid var(--card-border-clr);
  border-radius: 20px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.05);
  padding: 30px;
  margin: 10px;
  min-width: 450px;
  max-width: 450px;
  min-height: 230px;
  cursor: pointer;
}

main .card h1 {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--heading-clr);
}

main .card .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: 30px 0px 0;
}

main .card .stats .stat-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

main .card .stats .stat-data .stat-head {
  font-size: 14px;
  font-weight: bold;
  color: var(--gray);
  margin-bottom: 6px;
}

main .card .stats .stat-data .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
}

main .card .stats .stat-data .numbers p:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
  color: var(--blue-text);
  letter-spacing: 1px;
}

main .card .stats .stat-data .numbers p:nth-child(2) {
  font-size: 14px;
  color: var(--gray);
  font-weight: 600;
  margin-top: 6px;
}

@media screen and (max-width: 470px) {
  main .card {
    min-width: 98%;
    min-height: 210px;
    padding: 20px 10px;
    border-radius: 10px;
  }
  main .card h1 {
    font-size: 20px;
  }
  main .card .stats .stat-data .stat-head {
    font-size: 13.5px;
  }
  main .card .stats .stat-data .numbers p:nth-child(1) {
    font-size: 15px;
  }
  main .card .stats .stat-data .numbers p:nth-child(2) {
    font-size: 13.5px;
    margin-top: 4px;
  }
}

@media screen and (max-width: 365px) {
  main .card .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .card .stats .stat-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .card .stats .stat-data .stat-head {
    font-size: 12.5px;
  }
  main .card .stats .stat-data .numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .card .stats .stat-data .numbers p:nth-child(2) {
    margin-top: 0px;
    margin-left: 3px;
  }
}

main .global {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

main .global .card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 550px;
  background: var(--secondary);
  border-color: var(--secondary);
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 20px;
}

main .global .card h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--global-card-head-clr);
}

main .global .card .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .global .card .stats .stat-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5px 0;
}

main .global .card .stats .stat-data .stat-head {
  color: var(--global-stat-head-clr);
}

main .global .card .stats .stat-data .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5px 0;
}

main .global .card .stats .stat-data .numbers p:nth-child(1) {
  margin-right: 3px;
  color: var(--global-card-head-clr);
}

main .global .card .stats .stat-data .numbers p:nth-child(2) {
  margin-left: 3px;
  margin-top: 0px;
  color: var(--global-delta-number-clr);
}

@media screen and (max-width: 620px) {
  main .global {
    padding: 0 20px;
  }
  main .global .card {
    width: 100%;
    min-width: 90%;
  }
}

@media screen and (max-width: 470px) {
  main .global {
    padding: 0 12px;
  }
  main .global .card {
    min-width: 100%;
    border-radius: 10px;
  }
}

main .alert-msg {
  margin: 40px auto;
  text-align: center;
}

main .alert-msg svg {
  width: 40px;
}

main .alert-msg svg path {
  fill: var(--primary);
}

main .alert-msg h1 {
  color: var(--primary);
  font-size: 30px;
  margin-top: 5px;
  font-weight: 700;
}

main .alert-msg p {
  font-size: 15px;
  font-weight: normal;
  color: #333333;
  margin-top: 6px;
}

.overlay-div {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
  background: var(--backgroundColor);
  width: 100%;
  height: 100%;
  height: -moz-available;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-animation: scale 0.5s ease-in-out forwards, fix 0s 0.5s ease-in-out forwards;
          animation: scale 0.5s ease-in-out forwards, fix 0s 0.5s ease-in-out forwards;
}

.overlay-div .details {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  pointer-events: none;
  -webkit-animation: slide 0.5s 0.5s ease-in-out forwards, fade-in 0.5s 0.7s ease-in-out forwards;
          animation: slide 0.5s 0.5s ease-in-out forwards, fade-in 0.5s 0.7s ease-in-out forwards;
}

.overlay-div .details .back-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 40px;
}

.overlay-div .details .back-btn svg {
  width: 30px;
}

.overlay-div .details .back-btn svg path {
  fill: var(--primary);
}

@media screen and (max-width: 470px) {
  .overlay-div .details .back-btn {
    left: 30px;
    top: -20px;
  }
  .overlay-div .details .back-btn svg {
    width: 25px;
  }
}

@media screen and (max-width: 365px) {
  .overlay-div .details .back-btn {
    left: 4px;
    top: -35px;
  }
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-content .chart-tabs {
  margin: 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-content .chart-tabs .tabs-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: 10px 0 30px;
}

.main-content .chart-tabs .tabs-head h3 {
  min-width: 150px;
  text-align: center;
  cursor: pointer;
  margin: 0 20px;
  font-size: 15px;
  font-weight: 600;
  padding: 20px 0;
  color: var(--gray);
  border-radius: 8px;
  background-color: var(--hover-gray);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-content .chart-tabs .tabs-head h3:hover {
  color: var(--text-bold);
  background-color: var(hover-tab-clr) #dddddd;
}

.main-content .chart-tabs .tabs-head h3.active-tab {
  color: var(--text-bold);
  background-color: var(hover-tab-clr);
}

@media screen and (max-width: 620px) {
  .main-content .chart-tabs .tabs-head h3 {
    padding: 15px 0;
    font-size: 14px;
  }
}

@media screen and (max-width: 470px) {
  .main-content .chart-tabs .tabs-head h3 {
    min-width: 130px;
    margin: 0 15px;
  }
}

@media screen and (max-width: 365px) {
  .main-content .chart-tabs .tabs-head h3 {
    margin: 0 10px;
  }
}

.main-content .sec1-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 20px 30px;
}

.main-content .sec1-content .headline {
  color: var(--primary);
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-left: 15px;
}

.main-content .sec1-content .content-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 10px 0;
  padding: 10px 16px;
}

.main-content .sec1-content .content-stats .stat-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid var(--stat-row-border-clr);
}

.main-content .sec1-content .content-stats .stat-row .left-head {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  color: var(--gray);
}

.main-content .sec1-content .content-stats .stat-row .right-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

.main-content .sec1-content .content-stats .stat-row .right-number span {
  font-size: 13px;
  font-weight: 600;
  margin-left: 6px;
}

.main-content .sec1-content .content-stats .stat-row .confirmed-number {
  color: var(--blue-text);
}

.main-content .sec1-content .content-stats .stat-row .confirmed-number span {
  color: var(--blue-text);
}

.main-content .sec1-content .content-stats .stat-row .active-number {
  color: var(--active-head-clr);
}

.main-content .sec1-content .content-stats .stat-row .recovered-number {
  color: var(--recov-head-clr);
}

.main-content .sec1-content .content-stats .stat-row .recovered-number span {
  color: var(--recov-head-clr);
}

.main-content .sec1-content .content-stats .stat-row .death-number {
  color: var(--death-head-clr);
}

@media screen and (max-width: 620px) {
  .main-content .sec1-content {
    padding: 20px 10px;
  }
}

@media screen and (max-width: 470px) {
  .main-content .sec1-content .headline {
    font-size: 22px;
  }
  .main-content .sec1-content .content-stats .stat-row .left-head {
    font-size: 14px;
  }
  .main-content .sec1-content .content-stats .stat-row .right-number {
    font-size: 15px;
  }
  .main-content .sec1-content .content-stats .stat-row .right-number span {
    font-size: 13.5px;
  }
}

@media screen and (max-width: 365px) {
  .main-content .sec1-content {
    padding: 20px 2px;
  }
  .main-content .sec1-content .headline {
    font-size: 20px;
  }
  .main-content .sec1-content .content-stats .stat-row .left-head {
    font-size: 13px;
    letter-spacing: 0.5px;
  }
}

.main-content .sec3-content,
.main-content .sec4-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 20px 40px;
  width: 881px;
  height: 440px;
}

.main-content .sec3-content #lineChart,
.main-content .sec4-content #lineChart {
  width: 60%;
}

@media screen and (max-width: 890px) {
  .main-content .sec3-content,
  .main-content .sec4-content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .main-content .sec3-content #lineChart,
  .main-content .sec4-content #lineChart {
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .main-content .sec3-content,
  .main-content .sec4-content {
    padding: 20px 10px;
  }
}

.main-content .sec2-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: auto;
  width: 100%;
  padding: 20px 30px;
}

.main-content .sec2-content .table-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px;
}

.main-content .sec2-content .table-head,
.main-content .sec2-content .table-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (160px)[6];
      grid-template-columns: repeat(6, 160px);
  border-radius: 8px;
}

.main-content .sec2-content .table-head {
  padding: 10px 5px;
  margin-bottom: 20px;
  background-color: var(--table-head-clr);
}

.main-content .sec2-content .table-head h3 {
  text-align: right;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 4px;
}

.main-content .sec2-content .table-head h3:nth-child(1) {
  color: var(--heading-clr);
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  text-align: left;
}

.main-content .sec2-content .table-head h3:nth-child(2) {
  color: var(--conf-head-clr);
}

.main-content .sec2-content .table-head h3:nth-child(3) {
  color: var(--active-head-clr);
}

.main-content .sec2-content .table-head h3:nth-child(4) {
  color: var(--recov-head-clr);
}

.main-content .sec2-content .table-head h3:nth-child(5) {
  color: var(--death-head-clr);
}

.main-content .sec2-content .table-row {
  cursor: pointer;
  margin: 0px;
  padding: 10px 5px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main-content .sec2-content .table-row:nth-of-type(even) {
  background-color: var(--backgroundColor);
}

.main-content .sec2-content .table-row:nth-of-type(odd) {
  background-color: var(--odd-row-clr);
}

.main-content .sec2-content .table-row p {
  font-size: 16px;
  font-weight: 600;
  text-align: right;
  letter-spacing: 0.5px;
  padding: 0 4px;
}

.main-content .sec2-content .table-row p:nth-child(1) {
  color: var(--heading-clr);
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  text-align: left;
}

.main-content .sec2-content .table-row p:nth-child(1) .info-svg {
  width: 15px;
  margin-left: 7px;
  cursor: pointer;
}

.main-content .sec2-content .table-row p:nth-child(1) .info-svg path {
  fill: var(--gray);
}

.main-content .sec2-content .table-row p:nth-child(2) {
  color: var(--conf-head-clr);
}

.main-content .sec2-content .table-row p:nth-child(3) {
  color: var(--active-head-clr);
}

.main-content .sec2-content .table-row p:nth-child(4) {
  color: var(--recov-head-clr);
}

.main-content .sec2-content .table-row p:nth-child(5) {
  color: var(--death-head-clr);
}

.main-content .sec2-content .table-row p .delta-state-cases {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.main-content .sec2-content .table-row .state-notes {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background: var(--state-note-clr);
  padding: 8px 10px 8px 0;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.main-content .sec2-content .table-row:hover {
  background-color: var(--hover-gray);
}

.main-content .sec2-content .has-notes p.state-notes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  left: 300px;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-10px);
          transform: translateY(-50%) translateX(-10px);
  text-align: left;
  max-width: 250px;
}

.main-content .sec2-content .has-notes p.state-notes .note-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  display: block;
}

.main-content .sec2-content .has-notes p.state-notes .triangle {
  position: absolute;
  left: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 10px 5px 0;
  border-color: transparent var(--state-note-clr) transparent;
}

.main-content .sec2-content .has-notes p.state-notes .note-text {
  display: block;
  color: white;
  font-size: 13px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
}

.main-content .sec2-content .has-notes .state-notes-displayed {
  -webkit-transform: translateY(-50%) translateX(0px);
          transform: translateY(-50%) translateX(0px);
  opacity: 1;
  pointer-events: all;
}

.main-content .sec2-content .state-last-updated-time {
  width: 100%;
  min-height: 40px;
  padding: 15px 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 10px;
  margin-bottom: 10px;
}

.main-content .sec2-content .state-last-updated-time .state-last-updated {
  color: var(--recov-head-clr);
  font-size: 15px;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

.main-content .sec2-content .state-last-updated-time .state-last-updated span {
  font-weight: 500;
}

@media screen and (max-width: 720px) {
  .main-content .sec2-content .table-head,
  .main-content .sec2-content .table-row {
    -ms-grid-columns: (110px)[6];
        grid-template-columns: repeat(6, 110px);
  }
  .main-content .sec2-content .has-notes p.state-notes {
    left: 200px;
  }
}

@media screen and (max-width: 620px) {
  .main-content .sec2-content {
    padding: 20px 10px;
  }
}

@media screen and (max-width: 470px) {
  .main-content .sec2-content .table-head,
  .main-content .sec2-content .table-row {
    -ms-grid-columns: (80px)[6];
        grid-template-columns: repeat(6, 80px);
  }
  .main-content .sec2-content .table-head h3 {
    font-size: 15px;
  }
  .main-content .sec2-content .table-row p {
    font-size: 14px;
  }
  .main-content .sec2-content .has-notes p.state-notes {
    left: 150px;
  }
}

@media screen and (max-width: 365px) {
  .main-content .sec2-content .table-inner {
    padding: 0 5px;
  }
  .main-content .sec2-content .table-head,
  .main-content .sec2-content .table-row {
    -ms-grid-columns: (65px)[6];
        grid-template-columns: repeat(6, 65px);
  }
  .main-content .sec2-content .table-head h3:nth-child(2), .main-content .sec2-content .table-head h3:nth-child(3), .main-content .sec2-content .table-head h3:nth-child(4), .main-content .sec2-content .table-head h3:nth-child(5) {
    visibility: hidden;
  }
  .main-content .sec2-content .table-head h3:nth-child(2)::first-letter, .main-content .sec2-content .table-head h3:nth-child(3)::first-letter, .main-content .sec2-content .table-head h3:nth-child(4)::first-letter, .main-content .sec2-content .table-head h3:nth-child(5)::first-letter {
    visibility: visible;
  }
}

@-webkit-keyframes scale {
  to {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
}

@keyframes scale {
  to {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
}

@-webkit-keyframes slide {
  from {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slide {
  from {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fix {
  to {
    bottom: unset;
  }
}

@keyframes fix {
  to {
    bottom: unset;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    pointer-events: none;
  }
  to {
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    pointer-events: none;
  }
  to {
    opacity: 1;
    pointer-events: all;
  }
}

@-webkit-keyframes preloader-text {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes preloader-text {
  to {
    stroke-dashoffset: 0;
  }
}
/*# sourceMappingURL=main.css.map */